%h1 Listing contacts

%table
  %tr
    %th First name
    %th Last name
    %th Contact1
    %th Contact2
    %th Email
    %th Address1
    %th Address2
    %th Country
    %th State
    %th City
    %th Zip code
    %th
    %th
    %th

  - @contacts.each do |contact|
    %tr
      %td= contact.first_name
      %td= contact.last_name
      %td= contact.contact1
      %td= contact.contact2
      %td= contact.email
      %td= contact.address1
      %td= contact.address2
      %td= contact.country
      %td= contact.state
      %td= contact.city
      %td= contact.zip_code
      %td= link_to 'Show', contact
      %td= link_to 'Edit', edit_contact_path(contact)
      %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Contact', new_contact_path
