.h-20
.container
  .row.margin-bottom-40
    = render :partial => "components/shared_login_link"
    .col-md-9.col-sm-9
      %h3 Login
      .content-form-page
        .row
          .col-md-7.col-sm-7
            = form_for(resource, as: resource_name,:html=>{:class=>"form-horizontal"}, url: session_path(resource_name)) do |f|
              .form-group
                %label.col-xs-3.control-label{:for => "email"}
                  Email
                  %span.require *
                .col-xs-9
                  = f.email_field :email, autofocus: true,:class=>"form-control"
              .form-group
                %label.col-xs-3.control-label{:for => "password"}
                  Password
                  %span.require *
                .col-xs-9
                  = f.password_field :password, autocomplete: "off",:class=>"form-control"
              .form-group
                .col-xs-offset-2.col-xs-9
                  .checkbox{:style=>"padding-left:40px;"}
                    %label
                      %input{:type => "checkbox",:class=>"checkbox"} Remember me
              .form-group
                .col-xs-offset-3.col-xs-9
                  %button.btn.btn-primary{:type => "submit"} Login
          .col-md-4.col-sm-4.pull-right
            = render :partial => "components/social_media_login"