.content
  .header
    %h1.page-title Restaurants
    %ul.breadcrumb
      %li.active Restaurants
  .main-content
    .col-md-12.col-sm-12
      .row.list-view-sorting.clearfix
        .col-md-2.col-sm-2
          %a{:href=>"/restaurants/new","data-no-turbolink"=>true} Add New
        .col-md-10.col-sm-10
          .pull-right
            %label.control-label Sort&nbsp;By:
            %select.form-control.input-sm
              %option{:selected => "selected", :value => "#?sort=p.sort_order&amp;order=ASC"} Default
              %option{:value => "#?sort=pd.name&amp;order=ASC"} Name (A - Z)
              %option{:value => "#?sort=pd.name&amp;order=DESC"} Name (Z - A)
              %option{:value => "#?sort=rating&amp;order=DESC"} Rating (Highest)
              %option{:value => "#?sort=rating&amp;order=ASC"} Rating (Lowest)
      / BEGIN PRODUCT LIST
      .row.product-list
        - @restaurants.each do |r|
          .col-md-3.col-sm-3.col-xs-12
            .product-item{:style=>"height:400px;"}
              .pi-img-wrapper
                %img.img-responsive{:src => "#{r.logo.to_s}",:style=>"height:230px;width:100%;"}
              %h6
                %a{:href => "item.html"}
                  = r.name
              .pi-price
                = r.address1
                = r.address2
                = r.state
                = r.city
              .h-10{:style=>"height:10px;clear:both;"}
              %a.btn.btn-default.add2cart{:href => "#","data-no-turbolink"=>true} Book
              %a.btn.btn-default.add2cart{:href => "/restaurants/#{r.id}","data-no-turbolink"=>true} View More
