.container
  .h-20
  .row{:style=>"padding:0px;"}
    .col-md-3{:style=>"padding-left:0px;"}
      .panel.panel-default
        .panel-heading
          %b Cuisine
        .panel-body{:style=>"max-height:250px;overflow:auto;"}
          .row{:style=>"padding-left:15px;"}
            - @cuisine_type.each do |c|
              .checkbox
                %label
                  %input{:type => "checkbox",:name=>"cuisine_name[]",:value=>"#{c.name}"}
                    #{c.name}
      .panel.panel-primary
        .panel-heading
          Area
        .panel-body{:style=>"max-height:250px;overflow:auto;"}
          .row{:style=>"padding-left:15px;"}
            - @areas.each do |a|
              .checkbox
                %label
                  %input{:type => "checkbox",:name=>"area_name[]",:value=>"#{a.address1}"}
                    #{a.address1}

    .col-md-9
      .col-md-12.col-sm-12
        .row.list-view-sorting.clearfix
          .col-md-8.col-sm-8
            .h-20
            .input-group
              %input.form-control{:placeholder => "Search", :type => "text"}
                %span.input-group-btn
                  %button.btn.btn-primary{:type => "button"} Go
          .col-md-2.col-sm-2
            .h-20
            %button.btn.btn-default{:type=>"button"} Grid
            %button.btn.btn-default{:type=>"button"} List
          .col-md-2.col-sm-2
            .pull-right
              %label.control-label Sort&nbsp;By:
              %select.form-control.input-sm
                %option{:selected => "selected", :value => "#?sort=p.sort_order&amp;order=ASC"} Default
                %option{:value => "#?sort=pd.name&amp;order=ASC"} Name (A - Z)
                %option{:value => "#?sort=pd.name&amp;order=DESC"} Name (Z - A)
                %option{:value => "#?sort=rating&amp;order=DESC"} Rating (Highest)
                %option{:value => "#?sort=rating&amp;order=ASC"} Rating (Lowest)
        / BEGIN PRODUCT LIST
        .h-20
        .row.product-list
          - @restaurants.each do |r|
            .col-md-4
              .panel.panel-primary
                .panel-body{:style=>"padding-top:0px;"}
                  .row{:style=>'min-height:300px;'}
                    .col-md-12{:style=>"padding:10px;"}
                      %img.img-responsive{:src => "#{r.logo.to_s}",:style=>"margin-bottom:0px;height:130px;width:100%;",:class=>"thumbnail"}
                    .col-md-12
                      %h3{:style=>"margin-top:10px;"}
                        %a{:href => "/restaurants/restaurant_profile?id=#{r.id}"}
                          = r.name
                      %p
                        .address
                          %p
                            %i.glyphicon.glyphicon-map-marker
                            = r.address1
                            ,
                            = r.city
                          %p
                            %i.glyphicon.glyphicon-phone
                            = r.contact1
                      %p
                        %i.glyphicon.glyphicon-time
                        = r.delay_time
                        Minutes
                  .row
                    .col-md-3.col-sm-3.col-xs-3{:style=>"padding-right:5px;"}
                      %button.btn.btn-default{:type=>"button"}
                        %i.glyphicon.glyphicon-thumbs-up
                    .col-md-3.col-sm-3.col-xs-3{:style=>"padding-left:0px;"}
                      %button.btn.btn-default{:type=>"button"}
                        %i.glyphicon.glyphicon-heart
                    .col-md-6.col-sm-6.col-xs-6{:style=>"padding-left:0px;padding-right:30px;"}
                      %button{:type=>"button", :class=>"btn btn-default btn-md"}
                        Write Review
    .col-md-2{:style=>"padding-right:0px;"}