.col-md-2{:style=>"padding:0px;"}
  - @cusines_type.each do |ct|
    .list-group{:style=>"margin-bottom:0px;"}
      %a.list-group-item{:href=>"##{ct.name}",:style=>"font-weight:bold;"}
        =ct.name
.col-md-10
  .col-md-12{:style=>"padding:0px !important;"}
    .pull-left
      %input{:type=>"text",:class=>"form-control input-sm",:placeholder=>"Search"}
    .pull-right
      %button.btn.btn-primary.btn-sm{:type=>"button"}
        List
      %button.btn.btn-default.btn-sm{:type=>"button"}
        Grid
  .h-10{:style=>"height:10px;clear:both;"}
  .col-md-12{:style=>"padding:0px !important;"}
    - @cusines_type.each do |ct|
      .panel.panel-default{:id=>"#{ct.name}"}
        .panel-heading
          %b=ct.name
        .panel-body
          - if !@cuisines_sub_false.blank?
            %table.table.table-bordered.table-responsive{:style=>"margin-bottom:0px;"}
              - @cuisines_sub_false.in_groups_of(2) do |group|
                %tr
                  - group.each do |c|
                    - if (ct.name == c.cuisine_type.name) && (c.is_subcategory==false)
                      %td{:width=>250}
                        %a.addToCartModal{:href=>"javascript:void(0);","data-id"=>"#{c.id}","data-for"=>"cuisine"}
                          =c.name
                      %td
                        =c.price
          - if !@cuisines_sub_true.blank?
            - @cuisines_sub_true.each do |c|
              - if (ct.name == c.cuisine_type.name) && (c.is_subcategory==true)
                .col-md-12{:style=>"padding-top:10px;padding-left:0px;padding-right:0px;"}
                  .panel.panel-default
                    .panel-heading
                      %b=c.name
                    %table.table.table-bordered.table-responsive{:style=>"margin-top:0px;"}
                      - c.items.to_a.in_groups_of(2,false) do |item|
                        %tr
                          - item.each do |i|
                            %td{:width=>300}
                              %a.addToCartModal{"data-toggle" => "modal",:href=>"javascript:void(0)","data-for"=>"item","data-id"=>"#{i.id}"}
                                =i.name
                            %td=i.price
#myModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h2.modal-title #{@restaurant.name}
      .modal-body
        #itemData
        #dataValue
          %input{:type=>"hidden",:id=>"ic_id"}
          %input{:type=>"hidden",:id=>"restaurant_name"}
          %input{:type=>"hidden", :id=>"cuisineName"}
          %input{:type=>"hidden", :id=>"itemName"}
          %input{:type=>"hidden", :id=>"icprice"}
      .modal-footer
        .pull-left
          .col-md-5{:style=>"padding-right:0px;"}
            .form-group
              %label.col-sm-1.control-label{:style=>"padding-top:5px;padding-left:0px;"}
                %b Qty
              .col-sm-10
                %input{:type=>"number",:class=>"form-control",:id=>"qty",:min=>1 ,:value=>"1"}
          .col-md-6
            .form-group
              %label#itemPrice.col-sm-7.control-label{:style=>"padding-top:5px;"} 85.00Rs
        %button.btn.btn-primary{:type=>"button",:id=>"addToCart"} Add To Cart
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
:javascript
  $(".addToCartModal").click(function(){
      var id = $(this).attr("data-id");
      var data_for = $(this).attr("data-for");
      var url = "";
      if(data_for=="item"){
        url = "/items/"+id;
      }else if(data_for=="cuisine"){
        url = "/cuisines/"+id
      }
      if(id){
        $.ajax({
          url : url,
          type : "GET",
          contentType : "application/json",
          dataType : "json",
          success : function(data) {
            var itemData = '<form id="frm_add_to_cart"><h4 style="margin:0px;">'+data.name+'</h4>';
            itemData += '<br><b>Food Diet:</b><br><br>';
            itemData +='<div class="col-sm-12"><div class="btn-group" data-toggle="buttons">';
            if(data.is_veg){
              itemData += '<label class="btn btn-default"><input type="radio" name="dite" value="is_veg"> Veg</label>';
            }
            if(data.is_nonveg){
               itemData += '<label class="btn btn-default"><input type="radio" name="dite" value="is_nonveg"> Non Veg</label>';
            }
            if(data.is_swaminarayan){
              itemData += '<label class="btn btn-default"><input type="radio" name="dite" value="is_swaminarayan"> Swaminarayan</label>';
            }
            if(data.is_jain){
              itemData += '<label class="btn btn-default"><input type="radio" name="dite" value="is_jain"> Jain</label>';
            }
            itemData += '</div></div><br><br>'
            itemData += '<br><b>Food Taste:</b><br><br>';
            itemData +='<div class="col-sm-12"><div class="btn-group" data-toggle="buttons">';
            itemData += '<label class="btn btn-default"><input type="radio" name="tast" value="medium"> Medium</label>';
            itemData += '<label class="btn btn-default"><input type="radio" name="tast" value="spicy">Spicy</label>';
            itemData += '</div></div><br><br>'
            itemData += '<textarea class="form-control" id="addtional_comment" placeholder="Special instrucation"></textarea>';
            itemData += '</form>';
            $("#itemData").html(itemData);
            $("#itemPrice").html("<b>"+data.price+" Rs.</b>");
            $("#restaurant_name").val("#{@restaurant.name}");
            $("#icprice").val(data.price);
            $("#ic_id").val(data.id);
            if(data_for=="item"){
              $("#itemName").val(data.name);
            }else{
              $("#cuisineName").val(data.name);
            }

            $("#myModal").modal("show");
          }
        });
      }

    });
    $("#addToCart").click(function(){
    var restaurant_name = $("#restaurant_name").val();
    var cuisineName = $("#cuisineName").val();
    var itemName = $("#itemName").val();
    var icprice = $("#icprice").val();
    var ic_id = $("#ic_id").val();
    var qty = $("#qty").val();
    var form = $("#frm_add_to_cart");
    var food_diet = $('input[name=dite]:checked').val();
    var food_test = $('input[name=tast]:checked').val();
    var comment = $("#addtional_comment").val();
    var cart = $.cookie("cart");
    var item = {
      ic_id:ic_id,
      cuisineName:cuisineName,
      itemName:itemName,
      icprice:icprice,
      qty:qty,
      food_diet:food_diet,
      food_test:food_test,
      comment:comment
    }
    console.log(item);
    var cart = $.cookie("cart");
    if(cart!="" && cart!=undefined){
      cart = jQuery.parseJSON(cart);
      var rname = cart.restaurant_name;
      if(rname!=restaurant_name){
        $.removeCookie('cart');
        var items = [];
        items.push(item);
        cart = {
          restaurant_name:restaurant_name,
          items:items
        }
        $.cookie("cart",JSON.stringify(cart));
        var cart = $.cookie("cart");
        orderSummary();
      }else{
        var items = cart.items;
        if(items!=undefined && items!=""){
          console.log(items);
          items.push(item);
          console.log(items);
          cart = {
            restaurant_name:restaurant_name,
            items:items
          }
          $.cookie("cart",JSON.stringify(cart),{path:"/"});
          var cart = $.cookie("cart");
          orderSummary();
        }
      }
    }else{
      var items = [];
      items.push(item);
      cart = {
        restaurant_name:restaurant_name,
        items:items
      }
      $.cookie("cart",JSON.stringify(cart),{path:"/"});
      var cart = $.cookie("cart");
      orderSummary();
    }

  });