= form_for @item do |f|
  - if @item.errors.any?
    .list-group-item.list-group-item-danger#error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend Item Details
    .col-md-4
      .form-group
        %label
          Select Cuisine
          %span.require *
        = f.select(:cuisine_id,@cuisine_sub_category.collect {|p| [ "#{p.cuisine_type.name} - #{p.name}", p.id ] }, {include_blank: ''},{:class=>"form-control input-sm"})
    .col-md-4
      = render :partial => "components/text_field",:locals => {:f=>f,:n=>"name",:txtLabel=>"Item Name",:c=>"required"}
    .col-md-4
      = render :partial => "components/number_field",:locals => {:f=>f,:n=>"price",:txtLabel=>"Price",:c=>"required"}
    .col-md-4
      = render :partial => "components/file_field",:locals => {:f=>f,:n=>"image",:txtLabel=>"Upload Item Image",:c=>""}
    .col-md-4{:style=>"padding-top:23px;padding-left:5px;"}
      .checkbox
        %label
          = f.check_box :status,:class=>"checkbox"
          Active
  %fieldset
    %legend Available Option
    .checkbox
      .col-md-2.padding-left-0
        %label
          = f.check_box :is_veg,:class=>"checkbox"
          Veg
      .col-md-2
        %label
          = f.check_box :is_nonveg,:class=>"checkbox"
          Non. Veg
      .col-md-2
        %label
          = f.check_box :is_swaminarayan,:class=>"checkbox"
          Swaminarayan
      .col-md-2
        %label
          = f.check_box :is_jain,:class=>"checkbox"
          Jain
  %fieldset
    %legend About Item
    .col-md-12
      = render :partial => "components/text_area_editor",:locals => {:f=>f,:n=>"description"}
  .h-20
  .actions
    = f.submit 'Save',:class=>"btn btn-primary"
    = link_to 'Back', items_path,:class=>"btn btn-default"
  .h-20