.content
  .header
    %h1.page-title Items
    %ul.breadcrumb
      %li.active Items
  .main-content
    .btn-toolbar.list-toolbar
      %a{:href=>new_item_path,:class=>"btn btn-primary"}
        %i.glyphicon.glyphicon-plus
        New Item
      %button.btn.btn-default{:type=>"button"} Import
      %button.btn.btn-default{:type=>"button"} Export
    %table.table
      %tr
        %th Name
        %th Price
        %th Description
        %th Status
        %th
        %th
        %th

      - @items.each do |item|
        %tr
          %td= item.name
          %td= item.price
          %td= item.description
          %td= item.status
          %td= link_to 'Show', item
          %td= link_to 'Edit', edit_item_path(item)
          %td= link_to 'Destroy', item, :method => :delete, :data => { :confirm => 'Are you sure?' }




