!!!
%html
%head
%title Myrestaurant
= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
= javascript_include_tag "application", "data-turbolinks-track" => true
= csrf_meta_tags
%body.theme-blue
  .container-fluid
    - if user_signed_in?
      = render :partial =>  "components/header",:locals => {:user=>current_user}
      - @user = current_user
      - if @user.role.name=="admin"
        = render :partial => "components/admin_menu"
      - elsif @user.role.name="owner"
        = render :partial => "components/admin_menu"
    - else
      = render :partial =>"components/header1"
      = render :partial => "components/menu"
    = yield